@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  font-family: "outfit";
  min-height: 100vh;
}

.qr-container {
  background-color: white;
  text-align: center;
  padding: 1.3rem;
  border-radius: 20px;
  min-height: 400px;
  width: 300px;
}
.image img {
  border-radius: 10px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
p {
  padding: 0 20px;
  color: hsl(218, 44%, 22%);
}
